/*  ================= */
/*  CUSTOM PROPERTIES */
/*  ================= */

:root {

    /* GENERAL PALETTE */
    --color-red: hsl(0, 100%, 50%);

    --color-light-gray: hsl(254, 23%, 97%);
    --color-gray: hsl(254, 23%, 20%);
    --color-dark-gray: hsl(254, 23%, 10%);
    --color-gray-with-opacity: hsla(254, 23%, 26%, 0.5);
    --color-white: hsl(0, 0%, 100%);
    --color-white-with-opacity: hsla(0, 0%, 100%, 0.5);

    --color-red-chocolate: hsl(350, 75%, 19%);
    --color-misty-rose: hsl(2, 65%, 91%);
    --color-black-transparent: hsla(230, 100%, 7.8%, 0.5);
    --color-black-more-transparent: hsla(230, 100%, 7.8%, 0.3);

    

    --color-dark-green:	hsl(52, 40%, 23%);
    --color-moss-green: hsl(64, 29%, 32%);
    --color-sage: hsl(56, 22%, 74%);
    --color-ash-gray: hsl(73, 20%, 77%);
    --color-sky: hsl(158, 29%, 80%);

    /* LIGHT DARK COLORS */
    --color-highlighted-background: light-dark(var(--color-misty-rose), var(--color-dark-gray));
    --color-background: light-dark(var(--color-white), var(--color-gray));
    --color-font: light-dark(var(--color-red-chocolate), var(--color-light-gray));
    --color-background-with-opacity: light-dark(var(--color-white-with-opacity), var(--color-gray-with-opacity));

    /* SPACINGS AND HEIGHTS */
    --gap-xl: 2rem;
    --gap-l: 1.5rem;
    --gap-m: 1rem;
    --gap-s: 0.5rem;
    --header-height: 2.5rem;

    --border-radius-xxl: 100px;
    --border-radius-xl: 50px;
    --border-radius-l: 20px;
    --border-radius-m: 10px;
    --border-radius-s: 5px;

    --button-padding-l: 0.5rem 1rem;
    --button-padding-m: 1px 0.8rem;
    --body-padding: 10px; /* This variable is to avoid having elements to close to the exern borders */

    --margin-m: 0.8rem 0.8rem;

    /* transition times */ 
    --transition-time-medium: 400ms;
    --transition-time-fast: 200ms;
    --transition-time-slow: 600ms;

}

[data-theme="dark"] {
    color-scheme: dark;
}

[data-theme="light"] {
    color-scheme: light;
}

[data-theme="fun"] {
    --color-highlighted-background: ;
    --color-background: ;
    --color-font: ;
}

/* ============== */
/* GENERAL STYLES */
/* ============== */

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: "Roboto", sans-serif;
    font-size: large;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

/* ==== */
/* LOGO */
/* ==== */

.logo {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;


  /* font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal; */


}

.logo-like {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* ====== */
/* ICONES */
/* ====== */

.icone {
    height: 20px;
}

.icone:hover {
    cursor: pointer;
}

#color-theme-icone {
    transform: scale(1.05);
}

.search-input {
    background: transparent;
    border: 1px solid var(--color-font);
    color: var(--color-font);
    padding: 4px 8px;
    border-radius: var(--border-radius-l);
    font-size: 14px;
    width: 0;
    opacity: 0;
    transition: 
        width var(--transition-time-medium) ease-in-out, 
        opacity var(--transition-time-medium) ease-in-out;
}

.search-input.visible {
    width: 40vw;
    opacity: 1;
}


/* ====== */
/* HEADER */
/* ====== */


#header {
    background-color: var(--color-highlighted-background);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
}

#header-container {
    height: calc(var(--header-height) * 2);
}

.header-top-container, .header-bottom-container {
    color: var(--color-font);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: var(--header-height);
}

.header-top-container {
    justify-content: space-between;
}

.inner-header-top-container, .button, .inner-header-bottom-container {
    display: flex;
    align-items: center;
}

.inner-header-top-container, .inner-header-bottom-container {
    gap: var(--gap-m);
}

.header-bottom-container {
    justify-content: start;
    gap: var(--gap-m);

    position: relative;

    /* opacity: 0; */
    /* transform: translateY(calc(-1 * var(--header-height))); */
    z-index: 4;
    

}

/* .header-top-container:hover ~ .header-bottom-container,
.header-bottom-container:hover {
    opacity: 1;
    transform: translateY(0);
} */

.header-placeholder { 
    height: calc(var(--header-height) * 3);


}

/* ======= */
/* BUTTONS */
/* ======= */

.button {
    border: solid var(--color-font) 1px;
    border-radius: var(--border-radius-l);

    padding: var(--button-padding-m);

    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: 400;
    color: var(--color-font);

    background-color: transparent;

    transition: 
        color var(--transition-time-fast) ease-in-out,
        background-color var(--transition-time-fast) ease-in-out;
}

.button:hover {
    cursor: pointer;
    color: var(--color-dark-gray);
    background-color: var(--color-font);
}

/* =========== */
/* HERO BANNER */
/* =========== */

.hero-banner {
    background-size: cover; 
}

.hero-buttons,
.hero-content {
    display: grid;
    place-items: center;
    text-align: center;
}

#hero-watch-button,
#hero-info-button {
    margin: var(--margin-m);
    padding: var(--button-padding-l);
}

.hero-banner,
.hero-banner::after {
  /* Mask that fades the sides */
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
}

/* ============= */
/* FILM SECTIONS */
/* ============= */

.movie-wrapper {
    display: flex;
    position: relative;
}

.movies {
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    gap: var(--gap-s);
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    padding: var(--gap-m) 0;
    -ms-overflow-style: none; 
    scrollbar-width: none;    
}

/* Hide scrollbar for Chrome, Safari and Opera */
.movies::-webkit-scrollbar {
    display: none;
}

.movie-poster-container {
    position: relative;
    height: 20rem;
    flex: 0 0 auto;
    width: auto;
}

.movie-poster {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-s);
    transition: 
        filter var(--transition-time-fast) ease-in-out,
        transform var(--transition-time-fast) ease-in-out;
}

.info-box {
    display: none;
    position: absolute;
    height: 50%;
    transform: translateY(60%); 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-with-opacity);
    color: var(--color-font);
    padding: 1rem;
    border-radius: var(--border-radius-s);
    overflow: hidden;
}

.info-box h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
}

.info-box p {
    margin: 0;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-poster-container:hover .movie-poster {
    filter: blur(1px);
    transform: scale(1.1);
}

.movie-poster-container:hover .info-box {
    display: block;
    z-index: 2;
}

/* .scroll-button {
    height: 7vw;
    width: 7vw;
    border-radius: var(--border-radius-xxl);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 7;
    background-color: var(--color-black-transparent);
    border: none;
}

.scroll-button:hover {
    cursor: pointer;
    background-color: var(--color-black-more-transparent);
}

.scroll-button.previous {
    left: 1rem;
}

.scroll-button.next {
    right: 1rem;
} */
